<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="utf-8">
    <title>Add Patient</title>
</head>
<body>

<div layout:fragment="auth_content">
    <form th:action="@{'/admin/patient/add/post/'+${user.getId()}}" th:object="${patient}" method="post">
        <div class="mb-3">
            <label for="nameField" class="form-label">Full name</label>
            <input type="text" class="form-control" id="nameField" th:field="*{name}"
                   aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text">Please insert your real name.</div>
        </div>
        <div class="mb-3">
            <label for="dateField" class="form-label">BirthDay</label>
            <input type="date" class="form-control" id="dateField"
                   th:field="*{dateOfBirth}" name="dateOfBirth"
                   aria-describedby="dateHelp">
            <div id="dateHelp" class="form-text">Please insert your birthday name.</div>
        </div>
        <div class="mb-3">
            <label for="phoneField" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneField"
                   th:field="*{phoneNumber}" name="phoneNumber"
                   aria-describedby="phoneHelp">
            <div id="phoneHelp" class="form-text">Please insert your phone number here.</div>
        </div>
        <div class="mb-3">
            <label for="userField" class="form-label">Documents</label>
            <input type="text" class="form-control" id="userField"
                   th:field="*{userDocuments}" name="userDocuments"
                   aria-describedby="docsHelp">
            <div id="docsHelp" class="form-text">Please insert your documents here.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>